<div class='row'>
    <div class='col-md-6'>
        <div class='section-input-bluedropdowns'>
            <select *ngIf='selectItems'>
                <option *ngFor='let state of selectItems.state'>
                    {{state.value}}
                </option>
            </select>
        </div>
    </div>
    <div class='col-md-6'>
        <div class='section-input-bluedropdowns'>
            <select *ngIf='selectItems'>
                <option *ngFor='let city of selectItems.city'>
                    {{city.value}}
                </option>
            </select>
        </div>
    </div>
</div>