<div class='header'>
  <!-- Header Area Start -->
  <header class='header-area clearfix'>
    <!-- Close Icon -->
    <div class='nav-close'>
      <i class='fa fa-close' aria-hidden='true'></i>
    </div>
    <!-- Logo -->
    <div class='logo'>
      <a class='atienne-logo' href='index.html'>ATIENNE</a>
    </div>

    <div class='header-tray-icons float-right' *ngIf='isCandidateProfile'>
      <span><img src='../../../assets/icons/video-icon@2x.png' alt='video'></span>
      <span><img src='../../../assets/icons/phone-icon@2x.png' alt='phone'></span>
      <span><img src='../../../assets/icons/more-icon@2x.png' alt='more'></span>
    </div>
  </header>
  <!-- Header Area End -->
</div>
