<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-11 col-md-11 col-sx-11'>
        <img src='../../../../assets/images/chat-bot-big@2x.png'>
        <div class='row'>
              <div class='chatbot-wel-message'>
                  <h3>{{username.USER_NAME}}</h3>
                  <p>{{username.MESSAGE1}}</p>
                   <p>{{username.MESSAGE2}}</p>
              </div>
        </div>
        <div class='row'>
            <app-chat-component></app-chat-component>
        </div>
    </div>
    <div class='col-sm-1 col-md-1 col-xs-1'>
      <div class='chatbot-status-label'>
        <label class='chatbot-label-text'>Introduction</label>
        <span class='chatbot-side-black-dot'></span>
      </div>
         <div class='chatbot-side-bar'></div>
         <span class='chatbot-side-dot'></span>
         <div class='chatbot-side-bar'></div>
         <span class='chatbot-side-dot'></span>
         <div class='chatbot-side-bar'></div>
         <span class='chatbot-side-dot'></span>
         <div class='chatbot-side-bar'></div>
         <span class='chatbot-side-dot'></span>
    </div>
  </div>

</div>
