<div class='row'>
  <div class='col-md-12'>
    <input #newSkill placeholder='Type your skills' />
    <div *ngFor='let con of skills' class='description'>
      <div class='row'>
        <div class='col-sm-4'> {{con.skill}}
        </div>
        <div class='col-sm-1'>
          <button (click)='removeSkill(con)' class='section-button'>
            <span class='cross'>x</span>
          </button>
        </div>
        <div class='col-sm-7'>
          <span *ngFor='let entry of con.entries; let idx = index' class='description'>
            <input type='radio' class='radio' name='radiogroup{{entry.value}}' (change)='onSelectionChange(entry)' [checked]='(idx === 0)'
              [value]='entry.id'>{{ entry.description }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <div class='button-margin'>
      <button (click)='addSkill(newSkill.value)' class='section-button'>
        <img src='assets/icons/addanother.png'>
        <span class='add-button-text'>Add Another</span>
      </button>
    </div>
  </div>
</div>
